    <span class="tag">
        <div></div>
        <app-timer *ngIf="(mintingOpened | async) === false" [@fadeAnimations]></app-timer>
        <div id="hodler-info">
            <!-- <p>
                Donut Hodlers: {{owners | async}}
            </p> -->
            <p>
                Donuts you Hodl: {{youOwn}}
            </p>
        </div>
        <h2>
            Bake your own donuts today.
        </h2>
        <div id="minting-cost">
            <p>
                <small>(minting)</small> Baking Cost: {{(mintCost | async) / 1e18}} ETH
            </p>
        </div>
        <div *ngIf="(mintingOpened | async) === true" class="minter" (click)="mintDonuts()" [@fadeAnimations]>
            <p>
                {{mintButtonText | async}}
            </p>
        </div>
        <div class="baked-donuts">
            <p>
                Total Donuts Baked: {{(minted | async) | number}} / {{(maxMinted | async) | number}}
            </p>
        </div>
    </span>