<span class="question-answered">
    <h4>What is this project about?</h4>
    <p>
        ETHDonuts is a simple showcase of my talents. I am a full stack engineer with over 10 years experience (closer to 20) working in professional settings and 5 years developing crypto projects.
        <br>
        <br>
        ETHDonut hodlers will be able to enter a private community, which will get amazing insights on how projects are launched, be able to participate and give feedback and input, ETHDonut hodlers are entitled to FREE NFTs/ERC20s from all projects, and a good amount of them too. Diamond hands will get rewarded more than softies.

    </p>
</span>

<span class="question-answered">
    <h4>So? What makes you special?</h4>
    <p>
        To put a long story short, it took me 10 hours to learn the ERC-721 standard, research the proper methods for layering images (I have not seen a single project using SVG, I do not know why - but this is really silly.), and to build this website with the full web3 implementation and solidity contract. 
        <br><br>
        By myself.
    </p>
</span>

<span class="question-answered">
    <h4>Why should we care?</h4>
    <p>
        Because I'm bored and work already 16+ hours a day building things that I usually never launch. 
        <br><br>
        I might as well build what ETHDonut hodlers want me to build, and to launch them in a proper fashion as well.
    </p>
</span>

<span class="question-answered">
    <h4>Why don't you launch these projects yourself?</h4>
    <p>
        I can, and I have. I've also worked with many teams. I enjoy meeting new people, learning new skills, and teaching new skills to people. What I envision here is a core group of ETHDonut hodlers who are passionate about what we launch,
        as they're the ones guiding the process. 
        <br><br>
        This eases my burden of creating communities for these projects, which is why I choose to launch very few projects, as I do not need to do it for money. I like to develop, and I believe this project may allow me to do so.
    </p>
</span>

<span class="question-answered">
    <h4>Why don't we get other people to build what we want?</h4>
    <p>
        You sure can. But, considering how quickly I work, my wide skillset, my team of marketers, artists and a few developers, it's sure that it won't be completed as quickly with the good chance it wasn't built properly.
        <br><br>
        I've built many contracts still in use today in the ERC20 DeFi world, and worked on some large projects. What I do not know how to do, my first step is to research teh subject. I am not shy to find the experts and ask the questions if needed. There are very few roadblocks for me and what I can achieve, even less with an army of 500 passionate ETHDonut hodlers.
    </p>
</span>