:host {
    min-width:100%;
    max-width:100%;
    min-height:100%;
    max-height:100%;
    grid-area:aside;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'your-donuts';
    overflow:hidden;
    display:grid;
    section.your-donuts {
        align-self:center;
        grid-area:your-donuts;
        z-index:3;
        min-width:100%;
        max-width:100%;
        min-height:100%;
        max-height:100%;
        display:grid;
        grid-template-rows: repeat(auto-fit, minmax(20rem, 20rem));
        grid-auto-columns: minmax(20rem , 20rem);
        grid-auto-flow: column;
        justify-self:center;
        align-self:center;
        align-content:center;
        overflow:visible;
        app-donut {
            z-index:999999;
            pointer-events: all!important;
            cursor:pointer;
            &:hover {
                filter:brightness(0.6);
            }
        }
    }

}