$pink: #eb12c7;
$lime: #a8eb12;
$blue: rgb(34, 188, 226);
$red: rgb(219, 34, 9);
$orange: #FF9F1C;
$purple: #540D6E;
$emerald: #1A936F;
$lemerald: #88D498;
$lteal: rgb(98, 224, 255);
$gray: #e1e7f9ff;
$white: #ffffffff;
$dgray: #2c2c2c;
$black: #0C090D;